
@font-face {
    font-family: "Masmuseh" ;
    src: url(../fonts/Masmuseh-Demo-Version.ttf);
}
* {
    margin: 0;
}
.image{

    width: 35%;
    
}
img {
    width: 100%;
    height: 100vh;
}
body {
    margin: 0;
    overflow: hidden;
}

.group{
    display: inline-flex;
    padding: 0;
    margin: 0;
    height: max-content;
    width: 100vw;
}
.text {
    width: 65%;
    background-color: beige;
    font-size: 3.15vh;
    padding-left: 1.5vw;
    padding-right: 1.5vw;
    font-family: Masmuseh;
}
h1, h4, p, ul, ol {
    padding-top: 1vh;
}
h1 {
    text-align: center;
}
.lists {
    display: inline-flex;
}